body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.hot {
    color: orange;
}

.flexble-cintaine {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 80%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}

.developer {
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big {
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.Expeirnce {
    background-image: url(images/header_bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.expriance-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}

#web-dev-exprince {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#full-stack-expriance {
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}